page-search {
    .searchbar {
        padding: 0;
        background: transparent;
    }
    .searchbar-input {
        height: 5rem !important;
    }
    .searchbar-search-icon {
        margin-top: 10px;
    }
}